// Place all the styles related to the departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
	text-align: center;
	font-size: 3em;
	background-color: #ee7125;
}

.viewport-container {
	margin: auto;
	// background-color: orange;
	min-height: 100vh;
}

*{
	background-color: orange;
	color: black;
	font-family: 'Lobster', cursive;
}

.deps-container {
	margin: 2em;
}

.dep-container {
	padding: 10px;
	margin: 3em;
	box-shadow: 3px 3px 3px 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dep-container a {
	text-decoration: none;
}