// Place all the styles related to the departments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.header {
	text-align: center;
	font-size: 3em;
	background-color: #ee7125;
}

.viewport-container {
	margin: auto;
	// background-color: orange;
	min-height: 100vh;
}

*{
	background-color: orange;
	color: black;
	font-family: 'Lobster', cursive;
}

.deps-container {
	margin: 2em;
}

.dep-container {
	padding: 10px;
	margin: 3em;
	box-shadow: 3px 3px 3px 3px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dep-container a {
	text-decoration: none;
}


.form-page {
	text-align: center;
	font-size: 1em;

}

.form-page h1 {
	font-size: 2em;
}



.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}


.form-contents {
	text-align: center;
  border: 5px solid black;
	width: fit-content;
	margin: 1em;
	padding: 1em;
	padding-top: 0;
}

.form-contents p {
	font-size: 2.5em;
	width: fit-content;
}

.form-contents input {
	background: lightgray;
	font-size: 1.5em;
	text-align: center;
}

.form-container button {
	font-size: 1.5em;
	margin: 1em,
}